In [1]:
import pandas as pd
import datetime

In [4]:
# 전남
df = pd.read_csv('./datasets/datetime_month_Jeonnam_COVID.csv', index_col=0, encoding= 'cp949')

In [6]:
# 확진일자를 -로 split하고 앞에 두개 따오기
for i in range(0, len(df)):
    df['확진월'][i] = df['확진일자'][i].split('-')[0] + '-' + df['확진일자'][i].split('-')[1]

In [7]:
df.head()

   거주지  지역        확진일자      확진월
0  나주시  전남  2020-08-31  2020-08
1  광양시  전남  2020-08-31  2020-08
2  화순군  전남  2020-08-31  2020-08
3  목포시  전남  2020-08-30  2020-08
4  순천시  전남  2020-08-30  2020-08

In [8]:
df.to_csv('./datasets/datetime_month_Jeonnam_COVID.csv')