In [32]:
import pandas as pd

In [34]:
df = pd.read_csv('./datasets/datetime_month_Kyeongnam_COVID.csv', index_col=0)

In [35]:
# 확진일자를 -로 split하고 앞에 두개 따오기
for i in range(0, len(df)):
    df['확진월'][i] = df['확진일자'][i].split('-')[0] + '-' + df['확진일자'][i].split('-')[1]

In [36]:
df.head()

  거주지  지역        확진일자      확진월
0  창원  경남  2020-08-31  2020-08
1  양산  경남  2020-08-31  2020-08
2  양산  경남  2020-08-31  2020-08
3  양산  경남  2020-08-30  2020-08
4  거제  경남  2020-08-29  2020-08

In [37]:
df.to_csv('./datasets/datetime_month_Kyeongnam_COVID.csv')