In [56]:
import pandas as pd

In [67]:
df = pd.read_csv('./datasets/sliced_Gyeonggi_COVID.csv', index_col=0)
df.head(10)

    확진일   거주지  지역
0  10.6   수원시  경기
1  10.6  의정부시  경기
2  10.6  의정부시  경기
3  10.6  의정부시  경기
4  10.6  의정부시  경기
5  10.6  의정부시  경기
6  10.6  의정부시  경기
7  10.6  의정부시  경기
8  10.6  의정부시  경기
9  10.6  의정부시  경기

In [68]:
df.iloc[4557]['확진일']

'2.09/2.28'

In [69]:
df.iloc[4557]['확진일'].split('/')[0]

'2.09'

In [70]:
for i in range(0, len(df)):
    if len(df.iloc[i]['확진일']) > 5:
        df.iloc[i]['확진일'] = df.iloc[i]['확진일'].split('/')[0]

In [71]:
df.tail(10)

       확진일  거주지  지역
4555  2.09  시흥시  경기
4556  2.09  시흥시  경기
4557  2.09  시흥시  경기
4558  2.05  수원시  경기
4559  2.05  구리시  경기
4560  2.02  수원시  경기
4561  2.02  부천시  경기
4562  2.01  부천시  경기
4563  1.27  평택시  경기
4564  1.26  고양시  경기

In [72]:
df.to_csv('./datasets/sliced_Gyeonggi_COVID_delete_slash.csv')