In [86]:
import pandas as pd
import datetime
import numpy as np

In [87]:
# 충남
df = pd.read_csv('./datasets/sliced_Chungnam_COVID.csv', index_col=0)
df.reset_index(drop= True, inplace= True)
df.head(5)

  거주지  지역     확진일
0  공주  충남  10월 4일
1  공주  충남  10월 4일
2  홍성  충남  10월 2일
3  천안  충남  10월 1일
4  논산  충남  9월 30일

In [88]:
# set datetime
# 확진일을 2020.10.04로 바꿔야함
# replace 써서 월과 일을 -으로 바꾸고, 앞에 2020 추가

# 앞에 2020- 추가
for i in range(0, len(df)):
    df.iloc[i]['확진일'] = '2020-' + df.iloc[i]['확진일']

In [89]:
# replace 써서 월과 일을 -로 바꾸기
for i in range(0, len(df)):
    df.iloc[i]['확진일'] = df.iloc[i]['확진일'].replace('월 ', '-').replace('일', '')

In [91]:
# 확진일을 datetime으로 변환
for i in range(0, len(df)):
    df['확진일'][i] = datetime.datetime.strptime(df['확진일'][i], '%Y-%m-%d').date()

In [92]:
# 확진일을 확진일자로 rename
df.rename(columns = {'확진일' : '확진일자'}, inplace = True)

In [93]:
# 컬럼 순서 바꾸기
df = df[['거주지', '지역', '확진일자']]

In [94]:
df.head()

  거주지  지역        확진일자
0  공주  충남  2020-10-04
1  공주  충남  2020-10-04
2  홍성  충남  2020-10-02
3  천안  충남  2020-10-01
4  논산  충남  2020-09-30

In [95]:
# 저장
df.to_csv('./datasets/sliced_Chungnam_COVID.csv')

In [96]:
# 울산
df = pd.read_csv('./datasets/sliced_Ulsan_COVID.csv', index_col= 0)

In [97]:
df.head()

   거주지  지역        확진일자
0   중구  울산  2020-10-05
1  울주군  울산  2020-10-05
2   남구  울산  2020-10-04
3   동구  울산  2020-10-04
4   동구  울산  2020-10-04

In [77]:
# (로 split하고 그 앞에꺼만 받아옴
for i in range(0, len(df)):
    df['거주지'][i] = df['거주지'][i].split('(')[0]

In [78]:
# set datetime
# 확진일을 2020.10.04로 바꿔야함
# replace 써서 /를 -으로 바꾸고, 앞에 2020 추가

# 앞에 2020- 추가
for i in range(0, len(df)):
    df.iloc[i]['확진일'] = '2020-' + df.iloc[i]['확진일']

In [79]:
# replace 써서 /을 -로 바꾸기
for i in range(0, len(df)):
    df['확진일'][i] = df.iloc[i]['확진일'].replace('/', '-')

In [80]:
# 재입원 항목이 있으니 (로 split하자
for i in range(0, len(df)):
    df['확진일'][i] = df.iloc[i]['확진일'].split('(')[0]

In [81]:
# 확진일을 datetime으로 변환
df['확진일'] = pd.to_datetime(df['확진일'])

In [82]:
# 확진일을 확진일자로 rename
df.rename(columns = {'확진일' : '확진일자'}, inplace = True)

In [83]:
# 컬럼 순서 바꾸기
df = df[['거주지', '지역', '확진일자']]

In [84]:
df.head()

   거주지  지역       확진일자
0   중구  울산 2020-10-05
1  울주군  울산 2020-10-05
2   남구  울산 2020-10-04
3   동구  울산 2020-10-04
4   동구  울산 2020-10-04

In [85]:
# 저장
df.to_csv('./datasets/sliced_Ulsan_COVID.csv')