In [405]:
import pandas as pd

In [406]:
df = pd.read_csv('./prep_tmap20/prep_tmap_20_8_final.csv', index_col=0)

In [407]:
df2 = df[['지역(시도)', '지역(시군구)']]

In [408]:
df2['지역 시군구'] = 1

In [409]:
# 지역과 시군구 컬럼을 합쳐서 '지역 시군구'라는 컬럼 작성
for i in range(0, len(df2)):
    df2['지역 시군구'][i] = df2['지역(시도)'][i] +' '+ df2['지역(시군구)'][i]

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [410]:
df2['여행 횟수'] = 1

In [411]:
df3 = df2[['여행 횟수', '지역 시군구']]

In [412]:
grouped = df3.groupby('지역 시군구')

In [413]:
# 지역 시군구로의 여행횟수 count
df4 = pd.DataFrame(grouped.count())

In [414]:
# 정렬
df4.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [415]:
# 상위 10개 추출
df5 = df4[0:10]

In [416]:
df5.head()

         여행 횟수
지역 시군구
강원 고성군     435
강원 정선군     416
제주 서귀포시    386
강원 평창군     384
강원 홍천군     381

In [417]:
df5.to_csv('./tmap_prep_for_vis/final_tmap_20_8.csv')