In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('./prep_tmap20/prep_tmap_20_5_final.csv', index_col=0)

In [81]:
df2 = df[['지역(시도)', '지역(시군구)']]

In [82]:
df2['지역 시군구'] = 1

In [83]:
# 지역과 시군구 컬럼을 합쳐서 '지역 시군구'라는 컬럼 작성
for i in range(0, len(df2)):
    df2['지역 시군구'][i] = df2['지역(시도)'][i] +' '+ df2['지역(시군구)'][i]

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [84]:
df2['여행 횟수'] = 1

In [85]:
df3 = df2[['여행 횟수', '지역 시군구']]

In [86]:
grouped = df3.groupby('지역 시군구')

In [87]:
# 지역 시군구로의 여행횟수 count
df4 = pd.DataFrame(grouped.count())

In [88]:
# 정렬
df4.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [89]:
# 상위 10개 추출
df5 = df4[0:10]

In [90]:
df5.head()

        여행 횟수
지역 시군구
강원 평창군    372
강원 고성군    368
강원 정선군    363
강원 홍천군    358
경기 여주시    353

In [91]:
df5.to_csv('./tmap_prep_for_vis/final_tmap_20_5.csv')