In [23]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

In [ ]:
# 경산시, 군위, 양양, 전남, 인천, 세종,영주, 상주 엑셀 파일입니

In [8]:
df = pd.read_csv('./datasets/gyungsan.csv', encoding='utf-8', index_col=0)

In [9]:
df

       확진일         거주지     지역
0    10.3.         삼풍동  경북 경산
1    9.19.         조영동  경북 경산
2    9.15.         옥산동  경북 경산
3    9.12.         옥산동  경북 경산
4     9.7.         임당동  경북 경산
..     ...         ...    ...
658  2.20.   여(중방동,55)  경북 경산
659  2.20.   여(옥곡동,46)  경북 경산
660  2.19.   여(옥곡동,19)  경북 경산
661  2.19.   여(계양동,29)  경북 경산
662  7.31.  여(37, 남천면)  경북 경산

[663 rows x 3 columns]

In [10]:
df['지역'] = '경북'

In [26]:
del df['확진일자']

In [27]:
df

       확진일 거주지  지역
0    10.3.  경산  경북
1    9.19.  경산  경북
2    9.15.  경산  경북
3    9.12.  경산  경북
4     9.7.  경산  경북
..     ...  ..  ..
658  2.20.  경산  경북
659  2.20.  경산  경북
660  2.19.  경산  경북
661  2.19.  경산  경북
662  7.31.  경산  경북

[663 rows x 3 columns]

In [37]:
df2=[]
for i in range(len(df['확진일'])):
    df2.append('2020.' + df['확진일'][i])
df['확진일자']=df2

In [40]:
del df['확진일']

In [41]:
df

    거주지  지역        확진일자
0    경산  경북  2020.10.3.
1    경산  경북  2020.9.19.
2    경산  경북  2020.9.15.
3    경산  경북  2020.9.12.
4    경산  경북   2020.9.7.
..   ..  ..         ...
658  경산  경북  2020.2.20.
659  경산  경북  2020.2.20.
660  경산  경북  2020.2.19.
661  경산  경북  2020.2.19.
662  경산  경북  2020.7.31.

[663 rows x 3 columns]

In [42]:
df.to_csv('./datasets/kyungsan2020_covid.csv')

In [50]:
df.to_csv('./datasets/kyungbuk_covid_fix.csv')