In [46]:
import pandas as pd

In [47]:
df1 = pd.read_csv('./tmap_prep_for_vis/final_tmap_19_8.csv', index_col=0)
df2 = pd.read_csv('./tmap_prep_for_vis/final_tmap_20_8.csv', index_col=0)

In [48]:
# 년도 붙이기
df1['년도'] = 2019
df2['년도'] = 2020

In [49]:
# 합치기
df3 = pd.concat([df1, df2], axis= 'rows')
df3.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [50]:
# 상위 10개 컷
df4 = df3.iloc[0:10]

In [51]:
# reset_index
df4.reset_index(inplace= True)

In [52]:
# multi_indexing
df4.set_index(['년도','지역 시군구'], inplace= True)

In [53]:
df4.head(10)

              여행 횟수
년도   지역 시군구
2020 강원 고성군     435
     강원 정선군     416
2019 강원 정선군     404
2020 제주 서귀포시    386
     강원 평창군     384
     강원 홍천군     381
2019 강원 고성군     378
2020 제주 제주시     376
2019 강원 홍천군     370
2020 강원 삼척시     357

In [54]:
# save
df4.to_csv('./tmap_total/tmap_total_8.csv')

# Tmap 월별 top5 concat
## - 월 별로 각 해에 여행지 top5가 나와야함
## - subplot으로 visualizing하기 위한 전처리 과정

In [20]:
import pandas as pd

In [56]:
df1 = pd.read_csv('./tmap_monthly_top5/tmap_monthly_top5_19_8.csv', index_col=0)
df2 = pd.read_csv('./tmap_monthly_top5/tmap_monthly_top5_20_8.csv', index_col=0)

In [57]:
# 년도 붙이기
df1['년도'] = 2019
df2['년도'] = 2020

In [58]:
# 합치기
df3 = pd.concat([df1, df2], axis= 'rows')
df3.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [59]:
# reset_index
df3.reset_index(inplace= True)

In [60]:
# multi_indexing
df3.set_index(['년도','지역 시군구'], inplace= True)

In [61]:
df3.head(10)

              여행 횟수
년도   지역 시군구
2020 강원 고성군     435
     강원 정선군     416
2019 강원 정선군     404
2020 제주 서귀포시    386
     강원 평창군     384
     강원 홍천군     381
2019 강원 고성군     378
     강원 홍천군     370
     강원 삼척시     355
     경기 포천시     348

In [62]:
# 저장
df3.to_csv('./tmap_monthly_top5/tmap_monthly_top5_concat_8.csv')