In [104]:
import pandas as pd

In [129]:
df = pd.read_csv('./prep_tmap19/prep_tmap_19_1_final.csv', index_col=0)
df2 = df[['지역(시도)', '지역(시군구)']]
df2['지역 시군구'] = 1

# 지역과 시군구 컬럼을 합쳐서 '지역 시군구'라는 컬럼 작성
for i in range(0, len(df2)):
    df2['지역 시군구'][i] = df2['지역(시도)'][i] +' '+ df2['지역(시군구)'][i]
    
df2['여행 횟수'] = 1
df3 = df2[['여행 횟수', '지역 시군구']]
grouped = df3.groupby('지역 시군구')
# 지역 시군구로의 여행횟수 count
df4 = pd.DataFrame(grouped.count())
# 정렬
df4.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)
# 상위 20개 추출
df5 = df4[0:20]

df5.to_csv('./tmap_prep_for_vis/tmap_19_1_monthly_count_top20.csv')

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

# Tmap 월별 top5

In [1]:
import pandas as pd

In [17]:
df_2019 = pd.read_csv('./tmap_prep_for_vis/final_tmap_19_8.csv', index_col=0)
df_2020 = pd.read_csv('./tmap_prep_for_vis/final_tmap_20_8.csv', index_col=0)

In [18]:
df2_2019 = df_2019[0:5]
df2_2019.head()

        여행 횟수
지역 시군구
강원 정선군    404
강원 고성군    378
강원 홍천군    370
강원 삼척시    355
경기 포천시    348

In [19]:
df2_2020 = df_2020[0:5]
df2_2020.head()

         여행 횟수
지역 시군구
강원 고성군     435
강원 정선군     416
제주 서귀포시    386
강원 평창군     384
강원 홍천군     381

In [20]:
df3_2019 = df_2019[5:10]
df3_2019.head()

        여행 횟수
지역 시군구
전북 무주군    342
충북 충주시    340
경남 합천군    329
경기 여주시    328
강원 평창군    324

In [21]:
df3_2020 = df_2020[5:10]
df3_2020.head()

        여행 횟수
지역 시군구
제주 제주시    376
강원 삼척시    357
전북 무주군    349
경기 포천시    340
강원 양양군    330

In [73]:
df2.to_csv('./tmap_monthly_top5/tmap_monthly_top5_19_8.csv')

In [36]:
import pandas as pd

In [37]:
df_2019 = pd.read_csv('./tmap_prep_for_vis/prep_tmap_19_5.csv', index_col=0)
df_2020 = pd.read_csv('./tmap_prep_for_vis/prep_tmap_20_5.csv', index_col=0)

In [38]:
test_2019 = df_2019.rename(columns={'여행 횟수': '2019 여행 횟수'})
test_2020 = df_2020.rename(columns={'여행 횟수': '2020 여행 횟수'})

In [39]:
test_total = pd.concat([test_2019, test_2020], axis= 'columns')

In [40]:
test_total['증감'] = 0

In [41]:
test_total = test_total.fillna(0)

In [42]:
for i in range(0, len(test_total)):
    test_total['증감'][i] = test_total['2020 여행 횟수'][i] - test_total['2019 여행 횟수'][i]

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
test_total.sort_values('증감', inplace= True)

In [47]:
test_total

         2019 여행 횟수  2020 여행 횟수   증감
전북 무주군        319.0         0.0 -319
충남 태안군        305.0         0.0 -305
강원 삼척시        302.0       321.0   19
강원 정선군        340.0       363.0   23
충북 충주시        292.0       317.0   25
경기 포천시        309.0       340.0   31
경기 여주시        312.0       353.0   41
강원 홍천군        313.0       358.0   45
강원 고성군        321.0       368.0   47
강원 평창군        301.0       372.0   71
경기 가평군          0.0       340.0  340
제주 서귀포시         0.0       352.0  352