In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_1.csv', index_col=0)

In [14]:
df.head()

         여행 횟수 여행월
지역 시군구
강원 정선군     364  1월
강원 평창군     347  1월
강원 고성군     336  1월
전북 무주군     312  1월
제주 서귀포시    296  1월

In [15]:
for i in range(2,9):
    data = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_{}.csv'.format(i), index_col= 0)
    df = pd.concat([df, data], axis= 'rows', ignore_index=False)

In [16]:
df.to_csv('./tmap_prep_ver2/prep_tmap_month_20_total.csv')