# OO도 OO시 OO군 조정

In [44]:
import pandas as pd

In [45]:
df_2020 = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_total.csv', index_col=0)

In [46]:
df = pd.read_csv('./tmap_prep_ver2/tmap_20_destination_modify.csv', index_col= 0)

In [47]:
# 원본 파일에서
# len(df_2019['지역 시군구'][0].split(' ')) == 3 이면 drop

In [48]:
df_2020.reset_index(inplace=True)

In [49]:
# OO도 OO시 OO구 출력
a_list = []
for i in range(0, len(df_2020)):
    if len(df_2020['지역 시군구'][i].split(' ')) == 2:
        data = df_2020.iloc[i]
        a_list.append(data)
test = pd.DataFrame(a_list)

In [50]:
test.reset_index(drop=True, inplace= True)

In [51]:
concat = pd.concat([test, df], axis= 'rows', ignore_index=True)

In [52]:
concat.sort_values(['여행월', '지역 시군구'], inplace= True)
concat.reset_index(drop=True, inplace= True)

In [53]:
concat.to_csv('./tmap_prep_ver2/prep_tmap_month_20_total_modify.csv')

# OO시 OO구 조정

In [72]:
df = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_total_modify.csv', index_col= 0)

In [73]:
df.iloc[1271]

지역 시군구    인천 남동구
여행 횟수         34
여행월           6월
Name: 1271, dtype: object

In [74]:
a_list = []
for i in range(0, len(df)):
    if df['지역 시군구'][i].split()[0] != '서울' and df['지역 시군구'][i].split()[0] != '부산' and df['지역 시군구'][i].split()[0] != '대구' and df['지역 시군구'][i].split()[0] != '인천' and df['지역 시군구'][i].split()[0] != '광주' and df['지역 시군구'][i].split()[0] != '대전' and df['지역 시군구'][i].split()[0] != '울산' and df['지역 시군구'][i].split()[0] != '세종' and df['지역 시군구'][i].split()[0] != '제주':
        data = df.iloc[i]
        a_list.append(data)

In [75]:
df2 = pd.DataFrame(a_list)

In [76]:
df2.to_csv('./tmap_prep_ver2/test.csv')

In [77]:
df3 = pd.read_csv('./tmap_prep_ver2/tmap_20_destination_city_modify.csv', index_col= 0)

In [78]:
df4 = pd.concat([df2, df3], axis= 'rows', ignore_index= True)

In [79]:
df4.to_csv('./tmap_prep_ver2/tmap_20_real_final.csv')