In [1]:
import pandas as pd

In [199]:
df = pd.read_csv('./prep_tmap19/prep_tmap_19_8_final.csv', index_col=0)

In [200]:
df2 = df[['지역(시도)', '지역(시군구)']]

In [201]:
df2['지역 시군구'] = 1

In [202]:
# 지역과 시군구 컬럼을 합쳐서 '지역 시군구'라는 컬럼 작성
for i in range(0, len(df2)):
    df2['지역 시군구'][i] = df2['지역(시도)'][i] +' '+ df2['지역(시군구)'][i]

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [203]:
df2['여행 횟수'] = 1

In [204]:
df3 = df2[['여행 횟수', '지역 시군구']]

In [205]:
grouped = df3.groupby('지역 시군구')

In [206]:
# 지역 시군구로의 여행횟수 count
df4 = pd.DataFrame(grouped.count())

In [207]:
# 정렬
df4.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [208]:
# 월 컬럼 추가
df4['여행월'] = '8월'

In [209]:
df4.head()

        여행 횟수 여행월
지역 시군구
강원 정선군    404  8월
강원 고성군    378  8월
강원 홍천군    370  8월
강원 삼척시    355  8월
경기 포천시    348  8월

In [210]:
# 저장
df4.to_csv('./tmap_prep_ver2/prep_tmap_month_19_8.csv')