# 19년도 OO도 OO시 OO구 조정

In [168]:
import pandas as pd
import numpy as np

In [169]:
df_2019 = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_19_total.csv', index_col=0)

In [170]:
df_2019.reset_index(inplace= True)

In [171]:
# OO도 OO시 OO구 출력
a_list = []
for i in range(0, len(df_2019)):
    if len(df_2019['지역 시군구'][i].split(' ')) == 3:
        data = df_2019.iloc[i]
        a_list.append(data)
test = pd.DataFrame(a_list)

In [172]:
# 정렬
test.sort_values(['지역 시군구', '여행월'], inplace= True)
test.reset_index(drop= True, inplace= True)

In [173]:
test['지역 시군구'].unique()

array(['경기 고양시 덕양구', '경기 고양시 일산동구', '경기 고양시 일산서구', '경기 성남시 분당구',
       '경기 성남시 수정구', '경기 성남시 중원구', '경기 수원시 권선구', '경기 수원시 영통구',
       '경기 수원시 장안구', '경기 수원시 팔달구', '경기 안산시 단원구', '경기 안산시 상록구',
       '경기 안양시 동안구', '경기 안양시 만안구', '경기 용인시 기흥구', '경기 용인시 수지구',
       '경기 용인시 처인구', '경남 창원시 마산합포구', '경남 창원시 마산회원구', '경남 창원시 성산구',
       '경남 창원시 의창구', '경남 창원시 진해구', '경북 포항시 남구', '경북 포항시 북구', '전북 전주시 덕진구',
       '전북 전주시 완산구', '충남 천안시 동남구', '충남 천안시 서북구', '충북 청주시 상당구',
       '충북 청주시 서원구', '충북 청주시 청원구', '충북 청주시 흥덕구'], dtype=object)

In [174]:
month = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월']

In [175]:
# 성남시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '성남시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 성남시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기성남시 = test3

In [176]:
# 고양시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '고양시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 고양시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기고양시 = test3

In [177]:
# 수원시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '수원시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 수원시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기수원시 = test3

In [178]:
# 안산시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '안산시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 안산시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기안산시 = test3

In [179]:
# 안양시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '안양시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 안양시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기안양시 = test3

In [180]:
# 용인시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '용인시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 용인시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기용인시 = test3

In [181]:
# 창원시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '창원시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 창원시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경남창원시 = test3

In [182]:
# 포항시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '포항시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 포항시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경북포항시 = test3

In [183]:
# 전주시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '전주시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 전주시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
전북전주시 = test3

In [184]:
# 천안시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '천안시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 천안시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
충남천안시 = test3

In [185]:
# 청주시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '청주시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 청주시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
충북청주시 = test3

In [186]:
# concat
df = pd.concat([경기고양시, 경기성남시, 경기수원시, 경기안산시, 경기안양시, 경기용인시, 경남창원시, 경북포항시, 전북전주시, 충남천안시, 충북청주시], axis= 'rows', ignore_index=True)
df

    지역 시군구  여행 횟수 여행월
0   경기 고양시     94  1월
1   경기 고양시    106  2월
2   경기 고양시    100  3월
3   경기 고양시    109  4월
4   경기 고양시    109  5월
..     ...    ...  ..
83  경기 청주시    271  4월
84  경기 청주시    257  5월
85  경기 청주시    275  6월
86  경기 청주시    226  7월
87  경기 청주시    253  8월

[88 rows x 3 columns]

In [187]:
df.to_csv('./tmap_prep_ver2/tmap_19_destination_modify.csv')

# 19년도 OO시 OO구 조정

In [188]:
import pandas as pd
import numpy as np

df = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_19_total_modify.csv', index_col=0)

a_list = []
for i in range(0, len(df)):
    if df['지역 시군구'][i].split()[0] == '서울' or df['지역 시군구'][i].split()[0] == '부산' or df['지역 시군구'][i].split()[0] == '대구' or df['지역 시군구'][i].split()[0] == '인천' or df['지역 시군구'][i].split()[0] == '광주' or df['지역 시군구'][i].split()[0] == '대전' or df['지역 시군구'][i].split()[0] == '울산' or df['지역 시군구'][i].split()[0] == '세종' or df['지역 시군구'][i].split()[0] == '제주':
        data = df.iloc[i]
        a_list.append(data)
test = pd.DataFrame(a_list)

test.reset_index(drop=True, inplace= True)

# 정렬
test.sort_values(['지역 시군구', '여행월'], inplace= True)
test.reset_index(drop= True, inplace= True)

test['지역 시군구'].unique()

month = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월']

# 서울
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '서울':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '서울', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
서울 = test3

# 부산
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '부산':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '부산', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
부산 = test3

# 대구
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '대구':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '대구', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
대구 = test3

# 인천
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '인천':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '인천', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
인천 = test3

# 광주
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '광주':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '광주', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
광주 = test3

# 대전
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '대전':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '대전', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
대전 = test3

# 울산
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '울산':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '울산', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
울산 = test3

# 세종
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '세종':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '세종', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
세종 = test3

# 제주
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '제주':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '제주', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
제주 = test3

# concat
df = pd.concat([서울, 부산, 대구, 인천, 광주, 대전, 울산, 세종, 제주], axis= 'rows', ignore_index=True)
df

df.to_csv('./tmap_prep_ver2/tmap_19_destination_city_modify.csv')