In [1]:
import pandas as pd
import datetime

In [3]:
df = pd.read_csv('./tmap19/TMAP_USE_01MONTH.csv', index_col = 0)
df.reset_index(inplace=True)

         일자 지역(시도)   지역(시군구)          검색지명 검색지유형1  검색지유형2 검색지유형3  검색지랭킹(시군구내)
0  20190801     경기  고양시 일산서구      킨텍스제1전시장   생활편의  문화생활시설    전시장            1
1  20190801     경기  고양시 일산서구      킨텍스제2전시장   생활편의  문화생활시설    전시장            2
2  20190801     경기  고양시 일산서구          원마운트     쇼핑   대형유통점   쇼핑센터            3
3  20190801     경기  고양시 일산서구     아쿠아플라넷일산점  여행/레저    관광명소    수족관            4
4  20190801     경기  고양시 일산서구  이마트트레이더스킨텍스점     쇼핑   대형유통점    할인점            5

In [4]:
# 검색지유형 = 여행/레저 출력
df2 = pd.DataFrame()
for i in range(0, len(df)):
    if df.iloc[i]['검색지유형1']=='여행/레저':
        data = pd.DataFrame(df.iloc[i]).T
        df2 = pd.concat([df2, data], axis= 'rows', ignore_index= True)

In [68]:
# 날짜, 지역, 시군구 추출
df3 = df2[['일자', '지역(시도)', '지역(시군구)']]

         일자 지역(시도)   지역(시군구)
0  20190801     경기  고양시 일산서구
1  20190801     경기  고양시 일산서구
2  20190801     경기  고양시 일산서구
3  20190801     경북       경산시
4  20190801     경북       경산시

In [96]:
df3.to_csv('./prep_tmap19/prep_tmap_19_1.csv')

In [229]:
# 여기서 한 번 끊었다 가기
df3 = pd.read_csv('./prep_tmap20/prep_tmap_20_8.csv', index_col=0)

In [222]:
# 일자를 datetime으로 변경
df3['날짜'] = pd.to_datetime(df3['일자'].astype(str), format= '%Y%m%d')

In [223]:
# 요일 추출
df3['요일'] = df3['날짜'].dt.day_name()

In [224]:
# 월, 금, 토, 일 추출
df4 = pd.DataFrame()
for i in range(0,len(df3)):
    if df3.iloc[i]['요일'] == 'Monday' or df3.iloc[i]['요일'] == 'Friday' or df3.iloc[i]['요일'] ==  'Saturday' or df3.iloc[i]['요일'] ==  'Sunday':
        data = pd.DataFrame(df3.iloc[i]).T
        df4 = pd.concat([df4, data], axis= 'rows', ignore_index= True)

In [225]:
# 날짜, 지역(시도), 지역(시군구) 출력
df5 = df4[['날짜','지역(시도)','지역(시군구)']]
df5.rename(columns = {'날짜' : '일자'}, inplace = True)

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\frame.py:4298: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [226]:
df5.tail()

              일자 지역(시도) 지역(시군구)
32399 2020-08-09     충북     증평군
32400 2020-08-09     충북     증평군
32401 2020-08-09     충북     증평군
32402 2020-08-09     충북     증평군
32403 2020-08-09     충북     증평군

In [227]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404 entries, 0 to 32403
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   일자       32404 non-null  datetime64[ns]
 1   지역(시도)   32404 non-null  object
 2   지역(시군구)  32404 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 759.6+ KB

In [228]:
df5.to_csv('./prep_tmap20/prep_tmap_20_8_final.csv')

In [195]:
# 공휴일 추가해야함
# 지금은 datetime으로 바꾸고, (월, 금, 토, 일) 추출되어있음
# 공휴일 확인해서 '있으면' df 만들고 concat
# '일자'를 기준으로 sorting

df = pd.read_csv('./prep_tmap20/prep_tmap_20_5.csv', index_col=0)

In [196]:
df2 = pd.DataFrame()

for i in range(0, len(df)):
    if df.iloc[i]['일자'] == 20200505:
        data = pd.DataFrame(df.iloc[i]).T
        df2 = pd.concat([df2, data], axis= 'rows', ignore_index= True)

In [197]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   일자       1613 non-null   object
 1   지역(시도)   1613 non-null   object
 2   지역(시군구)  1613 non-null   object
dtypes: object(3)
memory usage: 37.9+ KB

In [198]:
# 일자를 datetime으로 변경
df2['날짜'] = pd.to_datetime(df2['일자'].astype(str), format= '%Y%m%d')

In [199]:
# 날짜, 지역(시도), 지역(시군구) 출력
df3 = df2[['날짜','지역(시도)','지역(시군구)']]
df3.rename(columns = {'날짜' : '일자'}, inplace = True)

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\frame.py:4298: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [200]:
# 저장
df3.to_csv('./prep_tmap20/prep_tmap_20_5_holiday.csv')

In [201]:
# 불러와서 concat
df = pd.read_csv('./prep_tmap20/prep_tmap_20_5_final.csv', index_col = 0)
df2 = pd.read_csv('./prep_tmap20/prep_tmap_20_5_holiday.csv', index_col = 0)
df3 = pd.concat([df, df2], axis= 'rows', ignore_index= True)

In [202]:
# 정렬
df3.sort_values(by=['일자'], axis=0, inplace= True)
df3.reset_index(drop=True, inplace= True)

In [204]:
df3.to_csv('./prep_tmap20/prep_tmap_20_5_final_include_holiday.csv')