# 20년도 OO도 OO시 OO구 조정

In [8]:
import pandas as pd
import numpy as np

In [9]:
df_2020 = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_total.csv', index_col=0)

In [10]:
df_2020.reset_index(inplace= True)

In [11]:
# OO도 OO시 OO구 출력
a_list = []
for i in range(0, len(df_2020)):
    if len(df_2020['지역 시군구'][i].split(' ')) == 3:
        data = df_2020.iloc[i]
        a_list.append(data)
test = pd.DataFrame(a_list)

In [12]:
# 정렬
test.sort_values(['지역 시군구', '여행월'], inplace= True)
test.reset_index(drop= True, inplace= True)

In [13]:
test['지역 시군구'].unique()

array(['경기 고양시 덕양구', '경기 고양시 일산동구', '경기 고양시 일산서구', '경기 성남시 분당구',
       '경기 성남시 수정구', '경기 성남시 중원구', '경기 수원시 권선구', '경기 수원시 영통구',
       '경기 수원시 장안구', '경기 수원시 팔달구', '경기 안산시 단원구', '경기 안산시 상록구',
       '경기 안양시 동안구', '경기 안양시 만안구', '경기 용인시 기흥구', '경기 용인시 수지구',
       '경기 용인시 처인구', '경남 창원시 마산합포구', '경남 창원시 마산회원구', '경남 창원시 성산구',
       '경남 창원시 의창구', '경남 창원시 진해구', '경북 포항시 남구', '경북 포항시 북구', '전북 전주시 덕진구',
       '전북 전주시 완산구', '충남 천안시 동남구', '충남 천안시 서북구', '충북 청주시 상당구',
       '충북 청주시 서원구', '충북 청주시 청원구', '충북 청주시 흥덕구'], dtype=object)

In [14]:
month = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월']

In [15]:
# 성남시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '성남시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 성남시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기성남시 = test3

In [16]:
# 고양시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '고양시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 고양시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기고양시 = test3

In [17]:
# 수원시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '수원시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 수원시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기수원시 = test3

In [18]:
# 안산시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '안산시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 안산시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기안산시 = test3

In [19]:
# 안양시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '안양시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 안양시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기안양시 = test3

In [20]:
# 용인시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '용인시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 용인시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경기용인시 = test3

In [21]:
# 창원시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '창원시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 창원시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경남창원시 = test3

In [22]:
# 포항시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '포항시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 포항시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
경북포항시 = test3

In [23]:
# 전주시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '전주시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 전주시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
전북전주시 = test3

In [24]:
# 천안시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '천안시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 천안시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
충남천안시 = test3

In [25]:
# 청주시
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[1] == '청주시':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '경기 청주시', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
충북청주시 = test3

In [26]:
# concat
df = pd.concat([경기고양시, 경기성남시, 경기수원시, 경기안산시, 경기안양시, 경기용인시, 경남창원시, 경북포항시, 전북전주시, 충남천안시, 충북청주시], axis= 'rows', ignore_index=True)
df

    지역 시군구  여행 횟수 여행월
0   경기 고양시    107  1월
1   경기 고양시     52  2월
2   경기 고양시     95  3월
3   경기 고양시     90  4월
4   경기 고양시     76  5월
..     ...    ...  ..
83  경기 청주시    227  4월
84  경기 청주시    241  5월
85  경기 청주시    190  6월
86  경기 청주시    175  7월
87  경기 청주시    188  8월

[88 rows x 3 columns]

In [27]:
df.to_csv('./tmap_prep_ver2/tmap_20_destination_modify.csv')

# 20년도 OO시 OO구 조정

In [28]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('./tmap_prep_ver2/prep_tmap_month_20_total_modify.csv', index_col=0)

In [37]:
a_list = []
for i in range(0, len(df)):
    if df['지역 시군구'][i].split()[0] == '서울' or df['지역 시군구'][i].split()[0] == '부산' or df['지역 시군구'][i].split()[0] == '대구' or df['지역 시군구'][i].split()[0] == '인천' or df['지역 시군구'][i].split()[0] == '광주' or df['지역 시군구'][i].split()[0] == '대전' or df['지역 시군구'][i].split()[0] == '울산' or df['지역 시군구'][i].split()[0] == '세종' or df['지역 시군구'][i].split()[0] == '제주':
        data = df.iloc[i]
        a_list.append(data)
test = pd.DataFrame(a_list)

In [39]:
test.reset_index(drop=True, inplace= True)

      지역 시군구  여행 횟수 여행월
0     광주 광산구     15  1월
1      광주 남구     10  1월
2      광주 동구      5  1월
3      광주 북구      4  1월
4      광주 서구     47  1월
..       ...    ...  ..
568   인천 연수구     79  8월
569   인천 옹진군    316  8월
570    인천 중구    189  8월
571  제주 서귀포시    386  8월
572   제주 제주시    376  8월

[573 rows x 3 columns]

In [40]:
# 정렬
test.sort_values(['지역 시군구', '여행월'], inplace= True)
test.reset_index(drop= True, inplace= True)

In [50]:
test['지역 시군구'].unique()

array(['광주 광산구', '광주 남구', '광주 동구', '광주 북구', '광주 서구', '대구 남구', '대구 달서구',
       '대구 달성군', '대구 동구', '대구 북구', '대구 서구', '대구 수성구', '대구 중구', '대전 대덕구',
       '대전 동구', '대전 서구', '대전 유성구', '대전 중구', '부산 강서구', '부산 금정구', '부산 기장군',
       '부산 남구', '부산 동구', '부산 동래구', '부산 부산진구', '부산 북구', '부산 사상구', '부산 사하구',
       '부산 서구', '부산 수영구', '부산 연제구', '부산 영도구', '부산 중구', '부산 해운대구',
       '서울 강남구', '서울 강동구', '서울 강북구', '서울 강서구', '서울 관악구', '서울 광진구',
       '서울 구로구', '서울 금천구', '서울 노원구', '서울 도봉구', '서울 동대문구', '서울 동작구',
       '서울 마포구', '서울 서대문구', '서울 서초구', '서울 성동구', '서울 성북구', '서울 송파구',
       '서울 양천구', '서울 영등포구', '서울 용산구', '서울 은평구', '서울 종로구', '서울 중구',
       '서울 중랑구', '세종 .', '세종 세종특별자치시', '울산 남구', '울산 동구', '울산 북구',
       '울산 울주군', '울산 중구', '인천 강화군', '인천 계양구', '인천 남동구', '인천 동구', '인천 부평구',
       '인천 서구', '인천 연수구', '인천 옹진군', '인천 중구', '제주 서귀포시', '제주 제주시'],
      dtype=object)

In [51]:
month = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월']

In [52]:
# 서울
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '서울':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '서울', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
서울 = test3

In [53]:
# 부산
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '부산':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '부산', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
부산 = test3

In [54]:
# 대구
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '대구':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '대구', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
대구 = test3

In [55]:
# 인천
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '인천':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '인천', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
인천 = test3

In [56]:
# 광주
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '광주':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '광주', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
광주 = test3

In [57]:
# 대전
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '대전':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '대전', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
대전 = test3

In [58]:
# 울산
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '울산':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '울산', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
울산 = test3

In [59]:
# 세종
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '세종':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '세종', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
세종 = test3

In [60]:
# 제주
b_list = []
for i in range(0, len(test)):
    if test['지역 시군구'][i].split()[0] == '제주':
        data = test.iloc[i]
        b_list.append(data)
test2 = pd.DataFrame(b_list)

test2.sort_values(['여행월'], inplace= True)
test2.reset_index(drop= True, inplace= True)
count = test2.groupby(['여행월'])['여행 횟수'].sum()
test3 = pd.DataFrame({'지역 시군구': '제주', '여행 횟수': count, '여행월':month})
test3.reset_index(drop= True, inplace= True)
제주 = test3

In [61]:
# concat
df = pd.concat([서울, 부산, 대구, 인천, 광주, 대전, 울산, 세종, 제주], axis= 'rows', ignore_index=True)
df

   지역 시군구  여행 횟수 여행월
0      서울    824  1월
1      서울    673  2월
2      서울    774  3월
3      서울    760  4월
4      서울    895  5월
..    ...    ...  ..
67     제주    561  4월
68     제주    667  5월
69     제주    572  6월
70     제주    648  7월
71     제주    762  8월

[72 rows x 3 columns]

In [62]:
df.to_csv('./tmap_prep_ver2/tmap_20_destination_city_modify.csv')