In [81]:
import pandas as pd

In [82]:
df = pd.read_csv('./prep_tmap20/prep_tmap_20_5_final.csv', index_col=0)

In [83]:
df2 = df[['지역(시도)', '지역(시군구)']]

In [84]:
df2['지역 시군구'] = 1

In [85]:
# 지역과 시군구 컬럼을 합쳐서 '지역 시군구'라는 컬럼 작성
for i in range(0, len(df2)):
    df2['지역 시군구'][i] = df2['지역(시도)'][i] +' '+ df2['지역(시군구)'][i]

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [86]:
df2['여행 횟수'] = 1

In [87]:
df3 = df2[['여행 횟수', '지역 시군구']]

In [88]:
grouped = df3.groupby('지역 시군구')

In [89]:
# 지역 시군구로의 여행횟수 count
df4 = pd.DataFrame(grouped.count())

In [90]:
# 정렬
df4.sort_values(by=['여행 횟수'], axis=0, ascending=False, inplace= True)

In [92]:
df4.head(50)

            여행 횟수
지역 시군구
강원 평창군        372
강원 고성군        368
강원 정선군        363
강원 홍천군        358
경기 여주시        353
제주 서귀포시       352
경기 포천시        340
경기 가평군        340
강원 삼척시        321
충북 충주시        317
충남 태안군        315
제주 제주시        315
전북 무주군        308
경기 용인시 처인구    300
인천 옹진군        295
경북 경주시        294
경북 울릉군        269
강원 양양군        266
강원 춘천시        263
충남 서천군        263
충북 단양군        262
전남 여수시        258
경북 울진군        254
전남 신안군        248
강원 속초시        248
경기 연천군        248
경남 합천군        244
경기 안성시        243
경남 고성군        240
경남 남해군        239
강원 강릉시        239
충북 보은군        237
경북 문경시        232
전남 보성군        232
경북 영덕군        231
전북 진안군        229
전남 장성군        229
전남 완도군        224
경기 이천시        223
전북 고창군        221
경남 밀양시        221
경북 고령군        216
경남 통영시        214
충남 보령시        210
전남 화순군        210
경남 거제시        209
경기 광주시        206
경남 하동군        205
전남 영암군        204
강원 동해시        203

In [ ]:
# 상위 10개 추출
df5 = df4[0:10]

In [ ]:
df5.head()

In [ ]:
df5.to_csv('./tmap_prep_for_vis/final_tmap_20_5.csv')

# Tmap 월별 top5

In [74]:
import pandas as pd

In [78]:
df = pd.read_csv('./tmap_prep_for_vis/final_tmap_19_8.csv', index_col=0)

In [80]:
df.head()

           일자 지역(시도) 지역(시군구)
0  2020-05-01     경북     의성군
1  2020-05-01     전남     영암군
2  2020-05-01     전남     영암군
3  2020-05-01     전남     영암군
4  2020-05-01     전남     영암군

In [72]:
df2 = df[0:5]
df2.head()

        여행 횟수
지역 시군구
강원 정선군    404
강원 고성군    378
강원 홍천군    370
강원 삼척시    355
경기 포천시    348

In [73]:
df2.to_csv('./tmap_monthly_top5/tmap_monthly_top5_19_8.csv')