In [90]:
import pandas as pd
import datetime

In [91]:
df = pd.read_csv('./tmap19/TMAP_USE_08MONTH.csv', index_col = 0)
df.reset_index(inplace=True)

         일자 지역(시도)   지역(시군구)          검색지명 검색지유형1  검색지유형2 검색지유형3  검색지랭킹(시군구내)
0  20190801     경기  고양시 일산서구      킨텍스제1전시장   생활편의  문화생활시설    전시장            1
1  20190801     경기  고양시 일산서구      킨텍스제2전시장   생활편의  문화생활시설    전시장            2
2  20190801     경기  고양시 일산서구          원마운트     쇼핑   대형유통점   쇼핑센터            3
3  20190801     경기  고양시 일산서구     아쿠아플라넷일산점  여행/레저    관광명소    수족관            4
4  20190801     경기  고양시 일산서구  이마트트레이더스킨텍스점     쇼핑   대형유통점    할인점            5

In [92]:
# 검색지유형 = 여행/레저 출력
df2 = pd.DataFrame()
for i in range(0, len(df)):
    if df.iloc[i]['검색지유형1']=='여행/레저':
        data = pd.DataFrame(df.iloc[i]).T
        df2 = pd.concat([df2, data], axis= 'rows', ignore_index= True)

In [94]:
# 날짜, 지역, 시군구 추출
df3 = df2[['일자', '지역(시도)', '지역(시군구)']]
df3.head()

         일자 지역(시도)   지역(시군구)
0  20190801     경기  고양시 일산서구
1  20190801     경기  고양시 일산서구
2  20190801     경기  고양시 일산서구
3  20190801     경북       경산시
4  20190801     경북       경산시

In [96]:
df3.to_csv('./prep_tmap19/prep_tmap_19_8.csv')

In [ ]:
# 여기서 한 번 끊었다 가기
df3 = pd.read_csv('./prep_tmap19/prep_tmap_19_8.csv', index_col=0)

In [ ]:
# 일자를 datetime으로 변경
df3['날짜'] = pd.to_datetime(df3['일자'].astype(str), format= '%Y%m%d')

In [ ]:
# 요일 추출
df3['요일'] = df3['날짜'].dt.day_name()

In [ ]:
# 월, 금, 토, 일 추출
df4 = pd.DataFrame()
for i in range(0,len(df3)):
    if df3.iloc[i]['요일'] == 'Monday' or df3.iloc[i]['요일'] == 'Friday' or df3.iloc[i]['요일'] ==  'Saturday' or df3.iloc[i]['요일'] ==  'Sunday':
        data = pd.DataFrame(df3.iloc[i]).T
        df4 = pd.concat([df4, data], axis= 'rows', ignore_index= True)

In [ ]:
# 날짜, 지역(시도), 지역(시군구) 출력
df5 = df4[['날짜','지역(시도)','지역(시군구)']]
df5.rename(columns = {'날짜' : '일자'}, inplace = True)

In [ ]:
df5.tail()

In [ ]:
df5.info()

In [ ]:
df5.to_csv('./prep_tmap19/prep_tmap_19_8_final.csv')