In [1]:
import pandas as pd

In [98]:
# 울산
df = pd.read_csv('./datasets/Ulsan_COVID.csv', index_col=0)
# 울산은 처음에는 짝수에 정보가 있다가 26번에서 바뀜
# 그러니까 인덱스 26번을 지우고
# reset_index를 하자

In [63]:
# 환자를 str으로 변환
df['환자'] = df['환자'].astype(str)

In [64]:
# 환자의 len이 10 이하인 것으로 if문을 작성
df_list = []
for i in range(0, len(df)):
    if len(df['환자'][i]) < 10:
        data = df.iloc[i]
        df_list.append(data)

In [69]:
df2 = pd.DataFrame(df_list)
df2.dropna(inplace= True)

In [72]:
# reset_index
df2.reset_index(drop= True, inplace= True)

In [91]:
# 거주지, 확진일 추출
# 지역 추가
df3 = df2[['거주지','확진일']]
df3['지역'] = '울산'

c:\users\007\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [93]:
df3= df3[['거주지','지역','확진일']]

In [95]:
# 저장
df3.to_csv('./datasets/sliced_Ulsan_COVID.csv')

In [102]:
# 충남
df = pd.read_csv('./datasets/Chungnam_COVID.csv', index_col=0)

,환자,인적사항 및 이동경로,확진일,접촉자 수,격리시설
0,충남#491(공주#10),"공주, 80대",10월 4일,0명,단국대학병원
1,"- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3..."
2,충남#490(공주#9),"공주, 90대",10월 4일,6명,단국대학병원
3,"- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3...","- 10.3.(토) 공주시보건소 검체 채취, 10.4.(일) 양성판정 - 대전#3..."
4,충남#489(홍성#25),"홍성, 60대",10월 2일,1명,단국대학병원

In [103]:
# 짝수를 뽑아오자
cn_list = []
for i in range(0, len(df), 2):
    cn_even = df.iloc[i]
    cn_list.append(cn_even)

In [114]:
df2 = pd.DataFrame(cn_list)
df2.reset_index(drop=True, inplace= True)

               환자 인적사항 및 이동경로     확진일 접촉자 수    격리시설
0   충남#491(공주#10)     공주, 80대  10월 4일    0명  단국대학병원
1    충남#490(공주#9)     공주, 90대  10월 4일    6명  단국대학병원
2   충남#489(홍성#25)     홍성, 60대  10월 2일    1명  단국대학병원
3  충남#488(천안#230)     천안, 30대  10월 1일    2명   천안의료원
4   충남#487(논산#23)      논산, 유아  9월 30일    0명   홍성의료원

In [116]:
# 환자의 거주지를 뽑아서
# 거주지 컬럼 만들어야함
df2['거주지'] = ''
for i in range(0, len(df2)):
    df2['거주지'][i] = df2.iloc[i]['환자'].split('(')[1].split('#')[0]

In [120]:
# '거주지','지역','확진일' 추출
df2['지역'] = '충남'
df3 = df2[['거주지', '지역', '확진일']]

In [121]:
df3.head()

  거주지  지역     확진일
0  공주  충남  10월 4일
1  공주  충남  10월 4일
2  홍성  충남  10월 2일
3  천안  충남  10월 1일
4  논산  충남  9월 30일

In [122]:
df3.to_csv('./datasets/sliced_Chungnam_COVID.csv')

In [128]:
# 제주
df = pd.read_csv('./datasets/sliced_Jeju_COVID.csv', index_col=0)
df = df[['확진일','지역']]
df.to_csv('./datasets/sliced_Jeju_COVID.csv')

In [147]:
# 충북
df = pd.read_csv('./datasets/sliced_Chungbuk_COVID.csv', index_col=0, encoding= 'cp949')
df.reset_index(drop= True, inplace= True)

In [150]:
df.to_csv('datasets/sliced_Chungbuk_COVID.csv')