In [74]:
import pandas as pd

In [99]:
# 제주
df = pd.read_csv('./datasets/datetime_month_Jeju_COVID.csv', index_col= 0)
df.head()

  거주지  지역        확진일자      확진월
0  제주  제주  2020-09-23  2020-09
1  제주  제주  2020-09-17  2020-09
2  제주  제주  2020-09-17  2020-09
3  제주  제주  2020-09-14  2020-09
4  제주  제주  2020-09-11  2020-09

In [100]:
# 10월 제거
a_list = []
for i in range(0, len(df)):
    if df['확진월'][i].split('-')[1] != '10':
        data = df.iloc[i]
        a_list.append(data)

In [101]:
df2 = pd.DataFrame(a_list)
df2.reset_index(drop=True, inplace= True)

In [102]:
df2.head()

  거주지  지역        확진일자      확진월
0  제주  제주  2020-09-23  2020-09
1  제주  제주  2020-09-17  2020-09
2  제주  제주  2020-09-17  2020-09
3  제주  제주  2020-09-14  2020-09
4  제주  제주  2020-09-11  2020-09

In [103]:
# 9월 제거
a_list = []
for i in range(0, len(df2)):
    if df2['확진월'][i].split('-')[1] != '09':
        data = df2.iloc[i]
        a_list.append(data)

In [104]:
df3 = pd.DataFrame(a_list)
df3.reset_index(drop=True, inplace= True)

In [105]:
df3.head()

  거주지  지역        확진일자      확진월
0  제주  제주  2020-08-31  2020-08
1  제주  제주  2020-08-03  2020-08
2  제주  제주  2020-08-03  2020-08
3  제주  제주  2020-08-03  2020-08
4  제주  제주  2020-08-29  2020-08

In [106]:
# 저장
df3.to_csv('./datasets/datetime_month_Jeju_COVID.csv')